<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StreamName</key>
		<string>Детское радио</string>
		<key>StreamURL</key>
		<string>http://79.143.70.114:8000/detifm-onair-64k.aac</string>
	</dict>
	<dict>
		<key>StreamName</key>
		<string>Радио Эрмитаж</string>
		<key>StreamURL</key>
		<string>http://91.190.117.131:8000/live</string>
	</dict>
	<dict>
		<key>StreamName</key>
		<string>Радио Рекорд</string>
		<key>StreamURL</key>
		<string>http://air.radiorecord.ru:8101/rr_128</string>
	</dict>
</array>
</plist>
